body {
  font-family: "Quattrocento Sans";
  color: #333;
}

p {
  margin: 0 auto;
  width: 490px;
  text-align: center;
}

#content {
  margin-top: 15%;
  font-size: 30px;
  line-height: 42px;
}

a {
  font-style: italic;
  text-decoration: none;
  color: #bbb;
}

#icons {
  margin-top: 8%;
  letter-spacing: 1em;
}

i {
  font-size: 36px;
}

